* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

article {
  border: 5px solid #000;
  line-height: 1.4;
  position: relative;
}

li {
  margin-bottom: 15px;
}

.container {
  width: 825px;
  margin: 50px auto;
}

.product-title,
.product-details,
.button,
.product-title,
.shipping {
  text-transform: uppercase;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  margin-bottom: 30px;
}

.product-img {
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
  margin-bottom: 5px;
}

.shipping {
  color: rgba(60, 58, 58, 0.584);
  font-weight: bold;
  margin-bottom: 10px;
}

.product-pitch {
  margin-bottom: 15px;
}

.more-product-info:link,
.more-product-info:visited {
  color: #000;
}

.more-product-info:hover,
.more-product-info:active {
  text-decoration: none;
}

.product-detals {
  margin: 25px 0;
}

.product-details-li {
  list-style-type: square;
  padding-left: 50px;
}

.button {
  color: #fff;
  font-size: 22px;
  background-color: #000;
  padding: 15px;
  width: 100%;
}

.button:hover {
  color: #000;
  background-color: #fff;
  border-top: 5px solid #000;
  cursor: pointer;
}

article::after {
  content: "SALE";
  position: absolute;
  background-color: rgb(194, 19, 19);
  padding: 10px 25px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  top: -20px;
  left: -40px;
}

.block {
  list-style: none;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: 25px 5px;
}

.block:first-child {
  margin-left: 0;
}

.black {
  background-color: #000;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: limegreen;
}

.brown {
  background-color: brown;
}
